{{ define "main" }}
<section class="panel-inset">
  <h1>{{ .Title }}</h1>
  {{ with .Content }}{{ . }}{{ end }}
</section>
<section class="panel-inset">
  <ul class="post-list">
    {{ range .Pages.ByDate.Reverse }}
      <li>
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        {{ $hideDate := eq .Section "kociol-info" }}
        {{ with .File }}{{ $hideDate = or $hideDate (eq .BaseFileName "discord") (eq .BaseFileName "kotlownia") }}{{ end }}
        {{ if not $hideDate }}
          <p class="meta">{{ .Date.Format "Jan 2, 2006" }}</p>
        {{ end }}
        {{ with .Summary }}<p>{{ . }}</p>{{ end }}
      </li>
    {{ end }}
  </ul>
</section>
{{ end }}
